{% extends "layout.html" %} {% block body %}

<section id="about" class="about-mf sect-pt4 route bg-secondary" style="padding-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <div class="about-img">
                                        <img src="{{url_for('static', filename='img/testimonial.jpg')}}" class="img-fluid rounded b-shadow-a" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <div class="about-info">
                                        <p><span class="title-s">Name: </span> <span>Souptik Datta</span></p>
                                        <!-- <p><span class="title-s">Profile: </span> <span>Learner</span></p> -->
                                        <p><span class="title-s">Email: </span> <span>souptikdatta2001@gmail.com</span></p>
                                        <p><span class="title-s">Phone: </span> <span>+918334012176</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-mf">
                                <p class="title-s"><strong>Skills : </strong></p>
                                <span>PYTHON</span> <span class="pull-right"></span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>C</span> <span class="pull-right"></span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>WEB DEVELOPMENT</span> <span class="pull-right"></span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>MACHINE LEARNING</span> <span class="pull-right"></span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>DS & ALGORITHM</span> <span class="pull-right"></span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-me pt-4 pt-md-0">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        About me
                                    </h5>
                                </div>
                                <p class="lead">
                                    Myself <em>Souptik Datta</em> and rest will be updated soon.
                                </p>
                                <p class="lead">

                                </p>
                                <p class="lead">

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}